**/old/**
**/archive/**
kdic2.small.xml
**/*.m4
**/*.sql
!create.sql
!jmdict/create.sql
!jmdict/p1/create-p1.sql
!jmdict/p3/create-p3.sql
!jmdict/p4/create-p4.sql
**/*.db
**/*.db-
**/*.xml
**/*.csv
**/*.tsv
!curation/**/*.tsv
**/*.list
**/*.choice
**/*.diff
**/*.old*
**/*.tmp
**/*.swp
**/*.dtd
my-corpus/corpus.*
my-corpus/Readme.toshi
my-corpus/source.txt
dictgen
dictview
hitomoji.dic
!curation/hitomoji.dic
jmdict/dictmatch
jmdict/p1/p1filter
jmdict/p3/p3filter
slot_greed
